/* Padding */
.p-20 {
    padding: 20px;
}

/* Margin Y-Axis */
.my-2 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

/* Displays */
.d-none {
    display: none;
}

/* Label Focus Color */
#channelNameInput:focus+label,
#accountName:focus+label,
#channelMsg:focus+label {
    color: #0C9DFD;
}

/* Label Underline Focus Color */
#channelNameInput:focus,
#accountName:focus,
#channelMsg:focus {
    border-bottom: 1px solid #0C9DFD;
    box-shadow: 0 1px 0 0 #0C9DFD;
}

/* Channel Join Button */
#joinChannelBtn,
#sendMsgBtn {
    background-color: #0C9DFD;
    color: white;
    border-radius: 5px;
}

#joinChannelBtn:hover,
#sendMsgBtn:hover {
    background-color: rgb(2, 133, 221);
}

/* Navbar */
#navbar {
    background: #1A0274;
}

.brand-logo {
    margin-left: 10px;
}